.container{
  width: auto;
  height: 80%;
  box-sizing: border-box;
  height: 700px;
}
.img{
  height: 100%;
  width: auto;
}

/* Mobile */
@media (max-width: 600px) {
  .container{
    height: auto;
  }
  .img{
    height: auto;
    width: 100%;
    border: none;
  }
}