
.project_type, .title, .techs, .description{
  padding: 1rem 2rem;
} 
.project_type{
  padding: 1rem 2rem 0;
}
.project_type h4{
  color: var(--global-primary-color);
}
.description{
  background-color: var(--global-foreground-color);
  padding-left: 4rem;
}
.techs{
  display: flex;
  justify-content: right;
}
.techs p{
  margin-left: 1rem;
  font-family: var(--font-mono);
  color: var(--global-header-color);
}
/* Mobile */
@media (max-width: 700px) {
  .project_type, .title{
    padding: 0rem 2rem;
  } 
  .title{
    padding-bottom: 1rem;
  }
}
