.text{
  padding-bottom: 1rem;
}
.list_container{
  display: flex;
  justify-content:flex-start;
}
.list{
  width: 50%;
}
.list li{
  list-style: none;
}

.item{
  font-size: .8rem;
  color: var(--global-primary-color);
  font-weight: 900;
}