.section{
  background-color: var(--global-foreground-transparent-color);
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile{
  position: absolute;
  left: 0;
  z-index: 0;
  height: 100vh;
}
.description{
  position: relative;
  z-index: 1;
  width: 50%;
  margin-left: auto;
  padding: 0 4rem 0 2rem;
}

.title{
  text-align: left;
  font-size: clamp(1.3rem, 5vw, 2rem);
  padding: 2rem 0;
}

/* Mobile */
@media (max-width: 700px) {
  .section{
    background-color: var(--global-foreground-color);
  }

  .container{
    padding: 3rem 2rem;
    height: auto;
    display: block;
  }

  .profile{
    position: relative;
    z-index: 0;
    height: auto;
    border: 1px solid var(--global-primary-color);
    border-radius: 10px;
  }

  .description{
    width: 100%;
    padding: 0;
  }
}