.footer{
  display: flex;
  padding: 50px;
  align-items: center;
  width: 100%;
  position: relative;
  top: 0px;
  z-index: 1;
  background-color: var(--global-background-transparent-color);
  height: var(--nav-scroll-height);
  backdrop-filter: blur(3px);
}